{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    }
  },
  "plugins": ["react"],
  "extends": ["finn", "finn/node", "finn-prettier", "plugin:react/recommended"],
  "env": {
    "node": true,
    "jest": true,
    "browser": true
  }
}
